/* Media Player */
.media-player {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  > div {
    // mobile device: shrink the size of the video player to be as large as the screen
    width: 100% !important;
  }

  .rhap_container {
    min-height: 75px;
  }

  @media only screen and (max-width: 850px) {
    display: block;
  }
}

.audio-player {
  max-width: 60vw;
}

.speed-controller {
  border: none;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 850px) {
    width: 100%;
    min-height: 2rem;
  }
}

.media-image {
  width: 100%;
}

/* Form */
.form {
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 5rem 1fr;
  justify-content: center;
  margin-top: 20px;
  min-width: 100%;

  .button-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:active {
      color: #069;
      fill: #069;
    }
  }

  .url-label {
    display: flex;
    align-items: center;
  }
  .url-label:nth-child(1) {
    padding-right: 4px;
  }
}

.multi-select {
  max-width: 500px;
}

.keywords {
  background-color: white;
  color: #0074d9;
}

.notes {
  resize: none;
}

.text-editor,
.submit-button {
  grid-column: 1 / 3;
}

.hidden-text {
  color: white;
}

@media only screen and (max-width: 700px) {
  .form-container {
    padding: 3% 5%;
  }

  .form {
    grid-template-columns: 1fr;
    min-width: 88vw;
  }

  .form .input,
  .form label,
  #keywords,
  #datesAccessed,
  .text-editor,
  .submit-button {
    grid-column: 1 / 2;
    max-width: 84vw;
  }

  .audio-player {
    max-width: 83vw;
  }

  .form label {
    text-align: left;
    padding-left: 1rem;
  }

  .keywords,
  #keywords,
  #datesAccessed,
  .text-editor {
    grid-column: 1 / 2;
  }

  .react-timerange-picker .react-timerange-picker__wrapper {
    align-items: center;
    background: #eee;
    border: 0;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
}
