:root {
  --background-blue: #4158d0;
  --background-pink: #c850c0;
  --menu-shadow: 0 4px 6px -1px rgba(0,0,0,0.2),0 2px 4px -1px rgba(0,0,0,0.12);
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

div[role='menu'] {
  visibility: hidden;
}

div[role='menu'].visible {
  visibility: visible;
}

.app {
  text-align: center;
}

.container {
  align-items: center;
  background: #9053c7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='white' fill-opacity='0.1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E"),
    linear-gradient(-135deg, var(--background-pink, #c850c0), var(--background-blue, #4158d0));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
  width: 100%;
}

.form-container {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 33px 6%;
  width: 960px;
}

/* Nav */
.nav ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  margin: 0 auto;
}

.nav a {
  background-color: #eee;
  display: inline-block;
  flex: 1;
  margin: 0 auto;
  padding: 20px 5px;
  transition: all 0.5s;
  width: 100%;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

form input {
  margin: 15px;
  width: 90%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;

  button {
    background: none;
    border: 0;
    border-radius: 10px;
    padding: 0.5em 1em;

    &:hover,
    &:focus {
      background-color: #eee;
      border-radius: 10px;
      outline: none;
    }
  }

  .buttons__icons {
    display: flex;
    justify-content: center;
  }

  img {
    width: 24px;
  }
}

.search-box {
  display: flex;

  .input--text {
    position: relative;
    top: -3px;
    width: 500px;
  }
}

.input--text {
  border-color: #eee;
  border-radius: 3px;
  color: #333;
  height: 50px;
  line-height: 1.5;
  padding: 0 20px;
}

@media only screen and (max-width: 850px) {
  .buttons {
    flex-direction: column;
  }

  .search-box {
    display: flex;
    flex-direction: row;
  }

  .search-box .input--text {
    top: -7px;
    width: 90%;
  }
}

/* Media Player */
.media-player {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  width: 100%;

  > div {
    // mobile device: shrink the size of the video player to be as large as the screen
    width: 100% !important;
  }

  .rhap_container {
    min-height: 75px;
  }

  @media only screen and (max-width: 850px) {
    display: block;
  }
}

.audio-player {
  max-width: 60vw;
}

/* Form */
.form {
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 5rem 1fr;
  justify-content: center;
  margin-top: 20px;
  min-width: 100%;
  padding: 1em;

  label {
    grid-column: 1 / 2;
    margin-left: -15px;
    text-align: left;
  }

  .input {
    background: #fff;
    border: 1px solid #9c9c9c;
    grid-column: 2 / 3;
    margin: auto 0;
    margin-left: 0;
    width: 100%;
  }
}

.multi-select {
  max-width: 500px;
}

.keywords {
  background-color: white;
  color: #0074d9;
}

button[type="submit"] {
  background-color: #37833b;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;

  &:focus,
  &:hover {
    background-color: #004812;
    outline: none;
  }
}

.notes {
  resize: none;
}

#submitButton {
  grid-column: 1 / 3;
}

.hidden-text {
  color: white;
}

@media only screen and (max-width: 700px) {
  .form-container {
    padding: 3% 5%;
  }

  .form {
    grid-template-columns: 1fr;
    min-width: 88vw;
  }

  .form .input,
  .form label,
  #keywords,
  #datesAccessed,
  .text-editor,
  #submitButton {
    grid-column: 1 / 2;
    max-width: 84vw;
  }

  .audio-player {
    max-width: 83vw;
  }

  .form label {
    text-align: left;
  }

  .form .input {
    margin-left: -1rem;
  }

  .keywords,
  #keywords,
  #datesAccessed,
  .text-editor {
    grid-column: 1 / 2;
  }

  .react-timerange-picker .react-timerange-picker__wrapper {
    align-items: center;
    background: #eee;
    border: 0;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
}

.speed-controller {
  border-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 700px) {
    width: 100%;
    min-height: 2rem;
  }
}


.more-menu-container {
  position: relative
}

.more-menu {
  position: absolute;
  right: 0;
  width: 9rem;
  z-index: 100;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 transparent, 0 0 transparent, var(--menu-shadow);
  overflow: hidden; // on hover: background-color doesn't go over the border radius
}

.more-menu-item {
  cursor: pointer;
  display: block;
  padding: 0.5rem 0.5rem;
  text-align: left;
  
  img {
    width: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  &:hover, &:focus {
    background-color:rgba(0, 0, 0, 0.07);
  }
  
  &.delete:hover, .delete:focus {
    background-color: #db4437;
    overflow: hidden;
  }
}
