* {
  box-sizing: border-box;
  font-size: calc(10px + 1vmin);
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.form-container {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 33px 6%;
}

/* Nav */
.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav li {
  list-style: none;
  margin: 0 auto;
}

.nav a {
  flex: 1;
  display: inline-block;
  background-color: #eee;
  padding: 20px 5px;
  width: 100%;
  transition: all 0.5s;
  margin: 0 auto;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

form input {
  width: 90%;
  margin: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    background: none;
    &:hover,
    &:focus {
      border-radius: 10px;
      background-color: #eee;
      outline: none;
    }
  }

  .buttons__icons {
    display: flex;
    justify-content: center;
  }

  img {
    width: 24px;
  }

  .delete {
    &:focus {
      background-color: #db4437;
    }
  }
}

.search-box {
  display: flex;
  .input--text {
    position: relative;
    top: -3px;
    width: 500px;
  }
}

@media only screen and (max-width: 850px) {
  .buttons {
    flex-direction: column;
  }
  .search-box {
    display: flex;
    flex-direction: row;
  }

  .search-box .input--text {
    top: -7px;
    width: 90%;
  }
}

/* Media Player */
.media-player {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  > div {
    width: 100% !important;
  }
}
.audio-player {
  max-width: 60vw;
}

/* Form */
.form {
  margin-top: 20px;
  display: grid;
  align-items: center;
  padding: 1em;
  background: rgba(255, 255, 255, 0.2);
  min-width: 100%;
  justify-content: center;
  grid-template-columns: 5rem 1fr;
  grid-gap: 16px;
}

.input {
  margin: auto 0;
  width: 100%;
}

.input--text {
  line-height: 1.5;
  color: #333;
  height: 50px;
  border-radius: 3px;
  padding: 0 20px 0 20px;
  border-color: #eee;
}

.form {
  label {
    text-align: right;
    grid-column: 1 / 2;
  }
  .input {
    grid-column: 2 / 3;
    background: #fff;
    border: 1px solid #9c9c9c;
  }
}

.multi-select {
  max-width: 500px;
}

.keywords {
  color: #0074d9;
  background-color: white;
}

button[type="submit"] {
  width: 100%;
  background-color: #37833b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: #004812;
    outline: none;
  }
}

.takeaways {
  resize: none;
}

#submit {
  grid-column: 1 / 3;
}
.hidden-text {
  color: white;
}

@media only screen and (max-width: 700px) {
  .form-container {
    padding: 3% 5%;
  }
  .form {
    grid-template-columns: 1fr;
    min-width: 88vw;
  }
  .form .input,
  .form label,
  #keywords,
  #datesAccessed,
  .text-editor,
  #submit {
    grid-column: 1 / 2;
    max-width: 84vw;
  }

  .audio-player {
    max-width: 83vw;
  }
  .form label {
    text-align: left;
  }
  .keywords,
  #keywords,
  #datesAccessed,
  .text-editor {
    grid-column: 1 / 2;
  }
  .react-timerange-picker .react-timerange-picker__wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: none;
    background: #eee;
    padding: 20px;
  }
}
