div[role='menu'] {
  visibility: hidden;
}

div[role='menu'].visible {
  visibility: visible;
}

.nav ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  margin: 0 auto;
}

.nav a {
  background-color: #eee;
  display: inline-block;
  flex: 1;
  margin: 0 auto;
  padding: 20px 5px;
  transition: all 0.5s;
  width: 100%;
}

.buttons {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;

  &.home-nav {
    justify-content: space-between;
  }

  button {
    background: none;
    border: 0;
    border-radius: 10px;
    padding: 0.5em 1em;

    &:hover,
    &:focus {
      background-color: #eee;
      border-radius: 10px;
      outline: none;
    }
  }

  .buttons__icons {
    display: flex;
    justify-content: center;
  }

  img {
    width: 24px;
  }
}

@media only screen and (max-width: 850px) {
  .buttons.home-nav {
    flex-direction: column;
  }

  .search-box {
    display: flex;
    flex-direction: row;
  }

  .search-box .input--text {
    top: -7px;
    width: 90%;
  }
}

.search-box {
  display: flex;

  .input--text {
    position: relative;
    top: -3px;
    width: 500px;
  }

  @media only screen and (max-width: 850px) {
    max-width: calc(100% - 3rem);
  }

  .search-button {
    display: flex;
    justify-content: center;;
  }
}

.more-menu-container {
  position: relative;
}

.more-menu {
  position: absolute;
  right: 0;
  width: 9rem;
  z-index: 100;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 transparent, 0 0 transparent, var(--menu-shadow);
  overflow: hidden; // on hover: background-color doesn't go over the border radius
}

.more-menu-item {
  cursor: pointer;
  display: block;
  padding: 0.5rem 0.5rem;
  text-align: left;

  img {
    width: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    vertical-align: text-top;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.07);
  }

  &.delete:hover,
  &.delete:focus {
    background-color: #db4437;
    overflow: hidden;
  }

  &.is-flagged {
    background-color: lightblue;
  }
}
